body {
  transition: 0.5s;
  background-size: 100%; }

.main {
  display: flex;
  flex-flow: wrap row;
  align-content: flex-start;
  justify-content: space-around;
  border-radius: 20px;
  overflow: hidden;
  max-height: 90vh;
  min-width: 600px;
  margin: 5vh;
  box-sizing: border-box; }
  .main section {
    box-sizing: border-box; }

.left-bar {
  min-width: 250px;
  height: auto; }
  .left-bar .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    background-color: #1f1d28; }
    .left-bar .wrapper .search {
      color: #48484a;
      border: 1px solid black;
      height: 38px;
      background-color: #1f1d28;
      padding-left: 30px; }
      .left-bar .wrapper .search input {
        padding-left: 8px;
        box-sizing: border-box;
        background-color: inherit;
        height: inherit;
        border: none;
        color: white; }
    .left-bar .wrapper .categories, .left-bar .wrapper .albums {
      background-color: #1f1d28;
      color: white; }
      .left-bar .wrapper .categories a, .left-bar .wrapper .albums a {
        color: white;
        display: block;
        padding: 5px 0 5px 30px;
        text-decoration-line: none;
        margin: 5px 0px; }
        .left-bar .wrapper .categories a:hover, .left-bar .wrapper .albums a:hover {
          border-left: 3px solid #ff5050;
          box-sizing: border-box;
          padding-left: 27px;
          background-color: #19181e; }
    .left-bar .wrapper .range {
      background-color: #19181e;
      position: absolute;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      bottom: 0px;
      height: 40px;
      display: flex;
      width: 100%; }
      .left-bar .wrapper .range .fas {
        color: #8c3b41;
        padding: 1px 3px 1px 1px;
        border: 2px solid #8c3b41;
        margin: 0px 5px; }

.contents {
  background-color: white;
  overflow: auto;
  overflow-x: hidden;
  min-width: 520px;
  max-width: calc(100% - 250px);
  max-height: inherit; }
  .contents__header h2 {
    display: inline; }

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }

.photo {
  margin: 5px; }
  .photo__img {
    position: relative; }
    .photo__img__subtext {
      background-color: rgba(62, 62, 62, 0.5);
      height: 10%;
      color: white;
      width: 100%;
      position: absolute;
      bottom: 4px;
      border-radius: 0px 0px 7px 7px;
      text-align: center;
      visibility: hidden; }
    .photo__img img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 7px; }
      .photo__img img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
    .photo__img:hover .photo__img__subtext {
      visibility: visible; }

.user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #282633;
  color: white;
  padding: 20px 0px; }
  .user-info__avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover; }
  .user-info__name {
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 800; }
  .user-info__count-file {
    font-weight: 100;
    padding-bottom: 15px; }
  .user-info__btn {
    height: 24px;
    width: 100px;
    background-color: #ea5a5a;
    border: none;
    border-radius: 12px;
    color: white; }

/*# sourceMappingURL=main.css.map */
